.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-theme{
  @apply border-2 border-white px-5 py-2 rounded;
}

.header{
  /* background-color: black; */
  color: white;
}
.web_contariner{
  background-image: url(./compunent/img/photo-1489599849927-2ee91cede3ba.avif);
  background-size: 200vh;
  background-position: center;
  color: #fff; /* Màu chữ sẽ dễ đọc hơn trên background mờ */
  text-align: center;
  padding: 20px;
  
}

