@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  width: 90%;
  margin: 0 auto;
}
.pages a {
  font-weight: 500;
  margin: 0 10px;
  font-size: 20px;
}
.btn-theme {
  @apply border border-white px-5 py-2 rounded;
}
.btn-theme-app{
@apply border border-white bg-black px-5 py-2 rounded;
}
.btn-theme-app:hover{
  background: orangered;
}
.btn-btn-theme {
  @apply border border-red-700 px-5 py-2 rounded;
}
.web_contariner {
  background-image: url(./compunent/img/photo-1489599849927-2ee91cede3ba.avif);
  width: 100vw;
  height: 100vh;
  background-position: center;
  color: #fff; /* Màu chữ sẽ dễ đọc hơn trên background mờ */
  text-align: center;
  background-size: cover ;
}
.register {
  background-image: url(../public/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  position: relative;
}

.register_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: rgba(170, 159, 159, 0.3);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  height: 50%;
}
/* .input123{
    width: '150%';
    margin: "20px 0";
    height: '70px';
    background-color: "rgba(170, 159, 159, 0.3";
    color:"black"
} */
.input {
  background-color: rgba(170, 159, 159, 0);
  border: none;
  border-bottom: solid 1px;
  border-radius: 0;
}
.input ::placeholder {
  color: black;
  background-color: none;
}
.icon {
  background-color: rgba(68, 68, 69, 0.648);
  margin: 8px;
  margin-left: 45%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}

.login_container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.form_login {
  width: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: rgba(0, 0, 0, 0.699);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  height: 50%;
}
.detail{
  background-image: url(./compunent/img/photo-1489599849927-2ee91cede3ba.avif);
  width: 100vw;
  height: 100vh;
  margin: 0 auto;

}

.news_container{
  display: flex;
  align-items: center;
  height: 700px;
  background-image: url(../public/img_slider/backgiund_news.jpg);
  justify-content: space-around;
}
.title{
  line-height: 2;
  text-align: left;
}

/* footer */
.footer{
  background-color: black;
  height: 500px;
}
.item{
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 163px;
  
}
.footer h1{
  font-size: 20px;
  font-weight: 500;
}
.Book_tickets{
  color: #fff;
  cursor: pointer;
  padding: 7.2px 24px;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  background-color: #fb4226;
}
